@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
*{
    color: bisque;
    background-color: rgb(16, 17, 16);
    font-family: "Manufacturing Consent", system-ui;
}

